*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px 10px 0px 10px;
    background-color:black;
}

img{
    margin: auto;
    display: flex;
    align-items: center;
}

h2{
text-transform: uppercase;
color:moccasin;
margin-top: 15px;
}
hr{
    margin-top: 20px;
}
.encabezado h1,h3 {
    text-align: center;
    color: moccasin;
}

.encabezado img{
    width: 90%;
    margin-left: 60px;
}

.malos {
    display: flex;
    justify-content: center;
    color: red;
    text-transform: uppercase;
    font-weight: 800px;
    font-size: 20px;
    letter-spacing:12px; 
}
.soldados {
background-color: rgb(194, 3, 3);
border-color: black;
border-style: dashed;
border-width:10px;
}

.apoyo{
    margin-top: 20px;
    text-align: center;
    color:rgb(0, 255, 0);
    text-transform: uppercase;
    list-style: none;
    letter-spacing:12px;
}
.naves{
    text-transform:uppercase;
    color:white;
    text-align: center;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.robots{
    background-color: rgba(69, 155, 11, 0.89);
    border-color: black;
    border-style: dashed;
    border-width:10px;
    width: 500px;
}
.rebeldes {
    display: flex;
    justify-content: center;
    color: blue;
    text-transform: uppercase;
    font-weight: 800px;
    font-size: 20px;
    letter-spacing:12px; 
}
.droides{
    text-align: center;
    background-color: rgb(14, 14, 161);
    border-color: black;
    border-style: dashed;
    border-width:10px;
    margin-bottom: 30px;
}
#valder {
    font-style: italic;
} 
#luke{
    font-style: italic;

}